body {
    width: 1263px;
    height: 640px;
    background-color: #2c2c2c;
    margin: 0px;
    padding-top: 141px;
    padding-left: 64px;
    box-sizing: border-box;
    margin-bottom: 27%;
}

.table-1 {
    border-collapse: collapse;
    text-align: left;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 0 0 0 1px #525252;
    margin-bottom: 50px;
    background-color: #2f2f2f;
    height: 40%;
    width: 75%;
}


.thead  {
    box-sizing: border-box;
}

.th-name-icon {
    width: 12px;
    height: 12px;
}

th, td {
    padding-top: 6px;
    padding-left: 17px;
    color: white;
    border-bottom: 1px solid #525252;
    padding-bottom: 6px;
}


.name-size1 {
    width: 45%;
    height: 40px;
}



.td-color2 {
    color: #464646;
}


.search {
    background: #464646;
    border: none;
    margin-left: 140px;
    height: 90%;
    border-radius: 7px;
    background: url(./image/search2.png) no-repeat scroll 7px 12px;
    padding-left:30px;
    border: 1px solid #464646;
    
    
    
    
}


.image-padding {
    padding-left: 280px;
    
}


.img-search {

    width: 12px;
    height: 12px;

}


.input-vision {
    display: none;
}


.input-vision:checked + label {
    background:#199bf2;
    color:#fff;
    border-radius: 5px;
    padding:0 6px;
    border:1px solid #eee;
}